# Default ignored files
/../../take_a_number_and_sum.../.idea/shelf/
/../../take_a_number_and_sum.../.idea/workspace.xml
# Editor-based HTTP Client requests
/../../take_a_number_and_sum.../.idea/httpRequests/
# Datasource local storage ignored files
/../../take_a_number_and_sum.../.idea/dataSources/
/../../take_a_number_and_sum.../.idea/dataSources.local.xml
